<%- include("../../partials/header")%>

<div class="container">
  <hr>
  <div class="card mt-5">
    <div class="card-header">
     <h3> Cadastro de atividades</h3>
    </div>
    <div class="card-body">
    <form action="/activity/update" method="POST">
          <label>Titulo da atividade</label>
    <input type="text" name="title" class="form-control" value="<%=activity.title%>"><br>
          <label>Escolha a materia</label>
    <select name="matterId" class="form-control"> <% matter.forEach((matte)=> {%>
              <%if(matte.id == activity.matter.id){%>
                <option value="<%=matte.id%>" selected><%=matte.name%></option>
              <%}else{%>
              <option value="<%=matte.id%>"><%=matte.name%></option>
              <%}%>
           <% })%>
            
          </select><br>
          <label>Url para download</label>
    <input type="text" name="url" class="form-control" value="<%=activity.url%>"><br>
          <label>Data de entrega</label>
    <input type="date" name="entday" class="form-control" ><br>
    <input type="hidden" name="id" value="<%=activity.id%>">
    <button type="submit" class = "btn btn-primary">Cadastrar</button>
    <a href="/admin/activities" class="btn btn-outline-danger">Cancelar</a>
    
  </form>
    
    </div>
    
  </div>

</div>

<%- include("../../partials/footer")%>