<%- include("../../partials/header")%>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Matter</th>
      <th>Entrega</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% activities.forEach(activity => {%>
    <% const  matt = matter.findOne({ where: { id: activity.matterid }}).then((matt) =>{%>
      <tr>
        <td><%=activity.id%></td>
        <td><%=activity.title%></td>
        <td><%=matt.name%></td>
        <td><%=activity.entday%></td>
        <td></td>
      </tr>
    <%})%>
    <%})%>
  </tbody>
</table>

<%- include("../../partials/footer")%>