<%- include("../../partials/header")%>

<div class="mt-5">
  

<table class="table table-bordered" >
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Matter</th>
      <th>Entrega</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% activities.find(activity => {%>

      <tr>
        <td><%=activity.id%></td>
        <td><%=activity.title%></td>
        <td><%=activity.matter.name%></td>
        <td><%=activity.entday%></td>
        <td><a href="/admin/activities/edit/<%=activity.id%>" class="btn btn-primary">Editar</a><a href="/admin/activities/editar" class="btn btn-danger">Deletar</a></td>
      </tr>


    <%})%>

  </tbody>
</table>
</div>
<%- include("../../partials/footer")%>